.content{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.buttons{
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}
.content-page-delete{
    display: flex;
}