.home h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
}

.post{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #777;
}
.post h2,
.post p{
    margin-bottom: 1rem;
}
.post h2::first-letter{
    text-transform: uppercase;
}
.btn{
    background-color: #FFF;
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.searchBar{
    display: flex;
    display: flex;
    align-items: center;
    width: 300px;
    height: 75px;
    max-width: 100%;
}
.searchInput{
    width: 200px;
    margin-right: 4%;
    border-radius: 5px;
}
.btn-delete{
    display: flex;
    background-color: rgb(225, 36, 7);
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    color: #FFF;
    background-color: #0e1217;
}
.btn-delete:hover{
    color: #FFF;
    background-color: #0e1217;
}
.btns{
    gap: 2rem;
    display: flex;
    flex-direction: row;
}

.modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modal p{
    color: #0e1217;
}

.modal button{
    display: flex;
    text-align: center;
}

.buttons{
    display: flex;
    gap: 0.5rem;
}